/**
 Author: Salim Choura
 Course: csc 337
 Description: This css file styles the sign up page 
 that we create in the index.html file.
*/
#header
{
    height: 200px;
    background-image: url(../img/space.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

#uranus_image
{
    margin-top: 40px;
    margin-left: 100px;
    width: auto;
    height: 150px;
}

#title
{
    position: relative;
    bottom: 60px;
    color: white;
    font-size: 70px;
    font-family: 'Lucida Sans';
}

#jupiter_image
{
    position: relative;
    left: 20px;
    bottom: 15px;
    width: auto;
    height: 150px;
}

#middle
{
    height:1000px;
    background-image: url(../img/stars.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

#text
{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS';
    padding-top: 80px;
}

label
{
    color: white;
    font-family: 'Franklin Gothic Medium';
    margin-left: 100px;
    margin-top: 200px;
}

button
{
    font-family: 'Franklin Gothic Medium';
    border: solid 4px rgb(255, 89, 92);
    background-color: rgb(241, 255, 148);
    color: rgb(24, 0, 145);
    margin-left: 300px;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

#sentence
{
    color: white;
    font-family: 'Franklin Gothic Medium';
    margin-left: 100px;
    margin-top: 20px;
}

input
{
    font-family: 'Segoe UI';
    border: solid 4px rgb(255, 89, 92);
    position: absolute;
    left: 300px;
    color: rgb(24, 0, 145);
    background-color: rgb(241, 255, 148);
}

#no
{
    position: absolute;
    left: 420px;
    color: black;   
}

textarea
{
    border: solid 4px rgb(255, 89, 92);
    background-color: rgb(241, 255, 148);
    position: absolute;
    left: 300px;
    color: black;
}

